<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.medyannikov.restfultest">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostDetails"
            android:label="@string/title_activity_post_details" >
        </activity>
        <activity
            android:name=".post_editer"
            android:label="@string/title_activity_post_editer" >
        </activity>
    </application>

</manifest>
